@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../App.scss' as *;

.below-video-content {
    @include desktop {
        padding: 0rem 2.25rem 0rem 2.25rem;
    }


    &__container {
        @include desktop {
            display: flex;
            flex-direction: row;
            width: 80rem;
            margin: 0 auto 0 auto;
        }
    }

    &__left {
        @include desktop {
            display: flex;
            flex-direction: column;
            width: 70%;
            border-right: 2px solid $mercury;
        }
    }

    &__right {
        @include desktop {  
            width: 30%;
        }
    }
}