@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../App.scss' as *;

.main-video {
    background-color: $brainflix-darkblack;

    &__video-container {
        background-color: inherit;
        position: relative;

        @include tablet {
            padding: 0rem 2.25rem 0rem 2.25rem;
        }

        @include desktop {
            width: 80rem;
            margin: 0 auto 0 auto;
        }
    }

    &__video {
        background-color: inherit;
        width: 100%;
        height: auto;
        object-fit: cover;
        text-align: center;
        aspect-ratio: 16 / 9;
    }

    &__video-controls {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 0.5rem;
    }

    &__video-controls-button {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
        border-radius: .25rem;
    }
}

