// Colors
// Primary
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;

// Secondary
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;