// Colors
// Primary
$brainflix-black: #323232;
$brianflix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;

// Secondary
$brainflix-darkblack: #000000;
$brianflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;