@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../App.scss' as *;

.next-videos-list {
    background-color: $white;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 1rem;



    &__left-container {
        width: 100px;
        margin-right: 1rem;

        // @include tablet {
        //     width: 20%;
        // }
    }

    &__image {
        background-color: $mercury;
        height: 4rem;
        width: 100%;
        object-fit: cover;
        border-radius: .25rem;
    }

    &__right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        padding: 0.25rem 0 0.25rem 0;
    }

    &__title {
        @include font-subheader;
    }

    &__channel {
        @include font-body;
        font-weight: 700;
    }
}
