@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../App.scss' as *;

.comments-container {
    background-color: $white;
    padding: 1.5rem 1rem 1.5rem 1rem; 

    @include tablet {
        padding: 3rem 2.25rem 1.5rem 2.25rem;
    }
}

.comments {
    background-color: inherit;

    @include tablet {
        padding: 1rem 3rem 1rem 2.25rem;
    }

    @include desktop {
        width: 80rem;
        margin: 0 auto 0 auto;
    }

    &__title {
        @include font-section-header;
        color: $brainflix-black;
        padding-bottom: 1rem;

        @include desktop {
            width: 80rem;
            margin: 0 auto 0 auto;
            padding-left: 2.25rem;
        }
    }

    &__form-container {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: flex-start;
        gap: 1rem;
        border-bottom: 2px solid $mercury;
        padding-bottom: 1rem;

        @include desktop {
            width: 50%;
            margin: 0 auto 0 auto;
        }
    }

    &__form {
        @include tablet {
        position: relative;
        padding-bottom: 2.5rem;
        width: 100%;
        }
    }

    &__profile-pic {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: $mercury;
        margin-top: 1.5rem;

        @include tablet {
            width: 3rem;
            height: 3rem;
            margin-top: 1.25rem;
        }
    }

    &__form-subhead {
        @include font-label;
        font-weight: 700;
        color: $silver;
        padding-bottom: .25rem;
    }

    &__form-input {
        @include font-body;
        font-weight: 700;
        height: 2.5rem;
        width: 100%;
        border-radius: .25rem;
        border: 1px solid $mercury;
        padding: .75rem .75rem .75rem .75rem;
        margin-bottom: 1rem;
        background-color: $alabaster;

        @include tablet {
            height: 3rem;
            padding: 1rem 1rem 1rem 1rem;
        }

        &:active, &:focus {
            outline: none;
            border: 1px solid $brainflix-blue;
        }
    }

    &__form-button {
        @include font-section-header;
        color: $white;
        background-color: $brainflix-blue;
        width: 100%;
        height: 2.5rem;
        border: none;
        border-radius: .25rem;
        resize: none;
        display: flex;
        align-items: center;

        @include tablet {
            @include font-body;
            color: $white;
            font-weight: 700;
            width: 10rem;
            padding: 0 2rem 0 2rem;
            right: 0;
            bottom: 0;
        }

        &:hover {
            background-color: $brainflix-darkblue;
        }

        &-img {
            margin-right: auto;
        }
    
        &-text {
            margin-right: auto;
        }
    }
}

.old-comments {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 2px solid $mercury;
    padding: 1.5rem 1rem 1.5rem 1rem;

    @include desktop {
        width: 50%;
        margin: 0 auto 0 auto;
    }

    &__profile-pic {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $mercury;
        object-fit: cover;

        @include tablet {
            width: 3rem;
            height: 3rem;
        }
    }

    &__right-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.5rem;
    }

    &__button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-top: 0.5rem;
    }

    &__name {
        @include font-body;
        color: $brainflix-black;
        font-weight: 700;
    }

    &__date {
        @include font-body;
        color: $silver;
    }

    &__text {
        @include font-body;
        color: $brainflix-black;
        font-weight: 600;
        word-wrap: break-word;
    }

    &__placeholder-text {
        @include font-body;
        color: $brainflix-black;
        font-weight: 600;
        margin: 1rem 3rem 1rem 3rem;

        @include tablet {
            margin: 1rem 4rem 1rem 4rem;
        }
    }

    &__button {
        background-color: $white;
        border: none;
        margin-left: 1.5rem;
        
        &:hover {
            transform: scale(1.5);
        }
    }

    &__button-count {
        @include font-body;
        color: $brainflix-black;
        font-weight: 600;
        margin-left: 0.25rem;
    }
}

// provides red border to either comment input box when they fail validation
.form__error {
    border: 1px solid #D22D2D;
}