@use './styles/partials/variables.scss' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/fonts' as *;

// reset
#root {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}