@use './styles/partials/variables.scss' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/fonts' as *;

// reset page and elements
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $mercury;
  border-radius: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $silver;
}